<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743250429610-o9mrnv9qf74p2m1u4mecjtjl3bjk1285.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743250429610-o9mrnv9qf74p2m1u4mecjtjl3bjk1285</string>
	<key>API_KEY</key>
	<string>AIzaSyBoYVQIiRpMLj__UyZ7JAutHThCQeYhTXI</string>
	<key>GCM_SENDER_ID</key>
	<string>743250429610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chetian.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>stack-fitness</string>
	<key>STORAGE_BUCKET</key>
	<string>stack-fitness.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743250429610:ios:e6c20dd0bab0cf6a6172d3</string>
</dict>
</plist>


